<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServisDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55415/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="SW.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WebServisDemo.Properties.Settings>
            <setting name="WebServisDemo_webreference_Service" serializeAs="String">
                <value>http://localhost:55415/Service.asmx</value>
            </setting>
        </WebServisDemo.Properties.Settings>
    </applicationSettings>
</configuration>