@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookstore</h1>
    <p class="lead">Bookstore is a school project made by Jovan Kljajic in ASP.NET MVC for a subject called "Razvoj Web Aplikacija i Servisa" thaught by Slavimir Vesic and Nemanja Markovic</p>
    
</div>
